extends ../layouts/application.pug
block main
  .uk-grid-medium
    .uk-text-center.uk-width-1-1.uk-padding.uk-padding-remove-left.uk-padding-remove-right
      
      .uk-container
        p.uk-text-center.uk-padding-smalluk-text-bold Coming Soon!!
        img(src="/assets/david.jpg")
