ul.uk-list.uk-text-meta
  
  //- li
  //-       span(uk-icon='icon: location')
  //-       span.uk-padding-small Locations
  //- li
  //-   ul.uk-list.uk-text-meta
  //-     li
  //-       //- span(uk-icon='icon: location')
  //-       span.uk-padding-small Fresno: 7545 N. Del Mar Ave., Ste. 103 Fresno, CA 93711
  //-     li
  //-       //- span(uk-icon='icon: location')
  //-       span.uk-padding-small Bakersfield: 5201 California Avenue, Suite 25 Bakersfield, CA 93309
  li
    span(uk-icon='icon: clock')
    span.uk-padding-small.uk-text-right Office Hours: Monday - Friday, 8AM to 5PM
  li
    span(uk-icon='icon: comment')
    span.uk-padding-small.uk-text-right Referrals accepted 7 days a week
  li
    span(uk-icon='icon: phone')
    span.uk-padding-small Phone: #[a(href='tel:559-432-2003') 1(559) 432-2003]
  li
    span(uk-icon='icon: file')
    span.uk-padding-small Fax all referrals to: 1(559) 899-0967
  li
    span(uk-icon='icon: file')
    span.uk-padding-small Fax all MD orders to: 1(877) 868-6528
  li
    span(uk-icon='icon: mail')
    span.uk-padding-small Email: #[a(href='mailto:info@cchha.com') info@cchha.com]
  li 
    a(href="https://www.facebook.com/Compassionate-Care-Home-Health-Agency-1975186136031240/?__tn__=%2Cd%2CP-R&eid=ARCKp7hOtHDDRD0Nr_ZBAj73umHxBCwXFsTwD9eemai1IOX6rLQ55Y6ivxE8wFiSEqEKlah4F-laj66D")
      span(uk-icon='icon: facebook') 
      span.uk-padding-small Facebook
    
  li 
    a(href="https://www.instagram.com/compassionatecarehh/")
      span(uk-icon='icon: instagram')
      span.uk-padding-small Instagram